*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container_S{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  
    /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.form_s{
  border: 1px solid #203f24;
  padding: 60px 35px;
  background-color: #fff;
  border-radius: 10px;
}
.container_S h2{
  margin-bottom: 15px;
  font-size: 30px;
}
.container_S .title{
  padding: 4px 0px;
  font-size: 25px;
}
.container_S .btn{
  padding: 8px 0px;
  font-size: 20px;
    margin-top: 25px;
    width: 270px;
    background-color: #0275d8;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
}
.container_S input{
  width: 270px;
  outline: none;
  padding: 3px 0px;
  font-size: 20px;

  box-shadow: none;
}
.pre_s{
  color: #fff;
  font-size: 20px;
}
.error_message{
  color: red;
}
#sucess{
  margin:10px 0px;
  font-size: 25px;
  color: #000;
  padding: 30px 15px;
  background: #fff;
  border-radius: 15px;
}